doctype
head
	meta(charset="utf-8", name="viewport", content="width=device-width", initial-scale="1", user-scalable="no", maximum-scale="1")
	-	if(item_layout === true){
			link(type="text/css", rel="stylesheet", href="/base.min.css")
	-	}else{
			link(type="text/css", rel="stylesheet", href="/main.min.css")
	-	}
body
	div.container__portfolio
		header.header__portfolio
			div.main-nav-btn
			nav.main-nav
				ul
					li
						a(class='home_link', href='/home').
							Главная
					li
						a(class='about_link', href='/about').
							О сайте
					li
						-	if(admin === true){
						a(class='login-btn', data-login="true", href='/logout').
							Выйти
						-	}else{
						a(class='login-btn', data-login="false", href='/login').
							Войти
						-	}


		block content

		footer.footer

block modals

block scripts
