@import 'vars'

@media screen and (max-width:615px)
	.modal-add,
	.modal-delete,
	.modal-edit,
	.modal-notify,
	.modal-login

		&__portfolio

			width: 100% !important
			top: 0 !important
			left: 0 !important
			margin-left: 0 !important
			padding-right: 10px !important

		.modal__button-block
			
			& button
				margin-right: 10px !important


@media screen and (max-width:402px)
	nav.main-nav
		display: none



	.main-nav-btn
		height: 42px
		display: block
		margin: 20px auto  0
		width: 25%
		background-image: url(assets/nav-menu_icon.svg)
		background-position: center
		background-repeat: no-repeat
		background-size: contain

	.nav-chain
		overflow-y: hidden !important

	.nav-chain ul
		margin-top: 0
		white-space: nowrap

	.CodeMirror
		top: 120px !important
		left: 0
		right: 0
		bottom: 100px
		width: auto !important

	.btn-submit-container__portfolio
		width: 100% !important

	.btn-submit__portfolio
		width: 100% !important

	.btn-fullscreen__portfolio
		position: fixed
		bottom: 50px
		right: 10px !important

	input.input__portfolio[type="checkbox"] + label,
	input.input__portfolio[type="radio"] + label

		&::after
			line-height: 0.6 !important

	section.content__portfolio
		margin: 20px 0 0 0 !important

		&.round
			border-radius: 0 !important

		& > nav.nav-chain
			border-radius: 0

		&.full-height
			min-height: 100%

		& .item_container
			background-color: $main-color-2 !important


		& .item_wrap:last-of-type
			border-radius: 0 !important
			margin-bottom: 10px !important


	.modal__button-block
		width: 100%

		& button
			width: calc(100% - 20px) !important








@media screen and (max-height: 320px )
	.modal-add,
	.modal-delete,
	.modal-edit,
	.modal-notify

		&__portfolio

			min-height: 100vh !important
			height: 100vh
			overflow: auto
			top: 0 !important