@import 'vars'


.modal-add,
.modal-delete,
.modal-edit,
.modal-notify,
.modal-login
	
	&__portfolio

		display: block
		visibility: hidden
		background: $main-color-2
		position: fixed
		width: 600px
		box-sizing: border-box
		min-height: 300px
		top: 70px
		left: 50%
		margin-left: -300px
		padding: 10px 30px 20px 10px
		box-shadow: $shadow
		opacity: 0
		font: 100% sans-serif,Helvetica
		z-index: 2

		&.modal__block
			visibility: visible
			opacity: 1
			transition: opacity 0.3s ease-out 0s


		.modal-add__header,
		.modal-delete__header,
		.modal-edit__header,
		.modal-notify__header,
		.modal-login__header
			display: block
			border-bottom: 1px solid $main-color-bar
			padding: 6px
			margin-bottom: 10px
			min-height: 18px


		.modal-add__label-error,
		.modal-edit__label-error,
		.modal-login__label-error
			color: #911

		.modal__field
			padding-left: 12px
			padding-top: 6px
			

		.modal-add__text,
		.modal-delete__text,
		.modal-edit__text,
		.modal-login__text
			
			&.padding
				padding: 6px

			&.no_padding
				padding: 0 6px
		
		.modal-delete__text

			margin-bottom: 135px
			
		.modal__border
			height: 20px
			width: 100%

		.modal__button-block
			// position: absolute
			// bottom: 10px
			// right: 20px
			float: right

			& > button
				margin: 10px 10px 0 10px
				float: left
				line-height: 40px
				height: 40px
				width: 140px

		span.modal-add__text,
		span.modal-delete__text,
		span.modal-edit__text,
		span.modal-login__text

			display: table-cell

			&.input
				width: 100%
				padding-right: 10px

			&.inline
				display: inline-block

			p
				margin: 0
				min-width: 70px

		.modal__radio-label
			position: relative
			display: inline
			top: 0
			float: left
			margin: 6px
			width: 26px
			cursor: pointer
			font-size: 

			&::before,
			&::after
				box-sizing: border-box
			
			
			&::before

				
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 17px
				height: 17px
				border: 1px solid black
				border-radius: 20px
				background: #fff
				font-size: 16px
				


			&::after
				position: absolute
				content: '✔'
				width: 17px
				height: 17px
				color: #000
				left: 3px
				top: 4px
				font-size: 16px
				line-height: .6


		.modal-add__type:checked + label::after,
		.modal-edit__type:checked + label::after,
			display: block

		.modal-add__type:not(:checked) + label::after,
		.modal-edit__type:not(:checked) + label::after,
			display: none

		.modal-add__type:disabled + label::after,
		.modal-edit__type:disabled + label::after,
			opacity: 0.45

		.modal__note
			padding-left: 22px
			padding-top: 12px

		.modal__author
			position: absolute
			bottom: 0
			right: 0
			padding: 0 30px 20px 30px

		input[type="radio"]
			display: none

		input[type="text"]
			width: 100%
			margin-right: 20px
			line-height: 1
			font-size: 1.4rem
			border: 1px solid $main-color-bar


		.modal__close
			position: absolute
			cursor: pointer
			top: 14px
			right: 26px
			height: 12px
			width: 12px
			margin: 4px
			background: url(assets/close_icon.png)
			background-repeat: no-repeat
			background-size: contain
