@import 'vars'

nav
  
  &.main-nav

    &.menu-block

      display: block !important
      position: absolute
      z-index: 1
      width: 100%


      & ul
        margin-bottom: -140px
        position: relative

      & ul > li
        width: 100%
        background: $main-color-bar
        border-top: 1px solid $font1
        font-size: 1.2rem
        padding-top: 2px
        padding-bottom: 2px

        &:hover
          background: #aaa

        & a
          color: $font1 !important

      
      & ul > li:first-child
        border-top: none



  &.main-nav ul
    text-align: center

  ul
    margin-top: 12px
    padding: 0
    list-style: none

  li
    display: inline-block

  a
    display: block
    padding: 6px 12px
    text-decoration: none
    color: $font1
  
  p
    display: inline-block
    padding: 6px 12px

  &.nav-chain
    background: $main-color-bar
    border-radius: 10px 10px 0 0
    
    ul
      margin-top: 0
      white-space: nowrap
      
    a
      position: relative

    p
      margin-bottom: 0
      margin-top: 0

    .current_url
      color: #ddd

    .prev_url
      margin-right: 4.45px
      font-size: 1.2rem

      &:after
        content: '/'
        position: absolute
        left: 100%
        top: 6px




