@import 'vars'
@import 'media'
@import 'nav'
@import 'modal'
@import 'scroll'

body
  	background: $main-color-1
  	margin: 0


header.header__portfolio
	float: none 

	.main-nav a
		font-family:  sans-serif, Helvetica
		color: $font_grey


.container__portfolio
	position: absolute
	height: 100%
	width: 100%
	bottom: 0
	overflow-x: hidden

section


	&.content__portfolio
		width: auto
		background: $main-color-2
		border-radius: 10px 10px 0 0 
		box-shadow: $shadow
		margin: 20px
		float: none
		
		.nav-chain p,
		.nav-chain a
			font-size: 1.2rem
			font-family:  sans-serif, Helvetica
		

		article.article__portfolio
			font-family:  sans-serif, Helvetica
			padding: 8px 12px
			

			h1
				margin: 0 0 12px
				padding: 0
				font-size: 32px
				line-height: 40px
				font-weight: 700
				page-break-after: avoid

			h2
				margin: 24px 0 12px
				font-size: 24px
				line-height: 32px
				font-weight: bold

			p
				margin: 0 0 12px

		.content-background__portfolio
			background: #fff
			display: inline-block
			width: 100%


		&.full-height
			min-height: calc(100% - 82px)
			line-height: 0

		& > *
			line-height: normal


nav
	&.nav-chain 
		ul
			margin: 0

		li
			margin: 0	

		p
			padding: 8px 12px
			
.btn-submit__portfolio
	display: block
	width: 180px
	height: 40px
	background-color: #666
	border-radius: 2px
	color: #fff
	font-size: 1.2rem
	line-height: 40px
	box-shadow: $shadow
	margin: 10px auto
	text-align: center
	cursor: pointer
	border: none

	&:hover
		box-shadow: $shadow_on_hover







	












