@import 'vars'

body
  font: 100% $font-stack
  color: $font2
  background: $main-color-1
  font-size: $font-size

section


	&.content__portfolio
		overflow-wrap: break-word
		box-sizing: border-box

		&.round
			border-radius: 10px
		
			& .item_container
				border-radius: 0 0 10px 10px


		a
			&.cats, &.pubs
				position: relative
				display: inline-block
				padding: 8px 12px 2px 12px
				text-decoration: none
				color: $font_grey
				width: 100%
				box-sizing: border-box



			&.cats::before,
			&.pubs::before
				content: ''
				display: block
				position: relative
				float: left
				background-size: contain
				background-repeat: no-repeat
				width: 30px
				height: 25px
				top: -3.6px
				margin-right: 5px
			
			&.cats::before
				background-image: url(assets/folder_icon.png)

			&.pubs::before
				background-image: url(assets/publication_icon.png)

		span.edit
			position: absolute
			right: 0
			font-style: italic
			font-size: 0.9rem
			padding: 9.5px 12px
			cursor: pointer

			&::before
				content: ''
				display: block
				background-image: url(assets/edit_icon.png)
				background-size: contain
				background-repeat: no-repeat
				position: relative
				width: 20px
				height: 15px
				float: left

			&.edit_container button
				border: 0
				background-color: #fff
				padding: 0
				height: 0

				&:focus
					outline: none
					color: blue

				&:hover
					color: #666
					cursor: pointer

		.pub-title
			font-weight: 600
			font-size: 1.5em
			padding: 20px 12px 12px 
			
		p
			padding: 8px 12px
			font-size: 1.2rem

		&.full-height
			min-height: calc(100% - 82px)

		.item_wrap
			min-width: 500px
			position: relative
			background-color: $main-color-2

			& > label + a.cats,
			& > label + a.pubs,
				width: calc(100% - 36px)
				
		.item_wrap:hover
			background: #aaa
			color: #fff

		.item_wrap:last-of-type
			margin-bottom: 38px
		// 	border-radius: 0 0 10px 10px

		.item_container
			background-color: $main-color-bar
			overflow-x: auto
			white-space: nowrap
			touch-action: manipulation
			max-height: 455px
			


input.input__portfolio
	
	&.check_for_delete
		display: none

	&.check_for_delete + label
		position: relative
		float: left
		width: 36px
		height: 16px
		
		
		&::before

			
			content: ''
			position: absolute
			left: 10px
			top: 10px
			width: 15px
			height: 15px
			border: 1px solid black
			border-radius: 3px
			font-size: 16px
			box-sizing: border-box
			


		&::after
			position: absolute
			content: '✔'
			width: 15px
			height: 15px
			color: #000
			left: 12px
			top: 12px
			font-size: 16px
			line-height: .8


		& + a.cats,
		& + a.pubs
			padding-left: 0
	
	&.check_for_delete:checked + label::after
		display: block
	&.check_for_delete:not(:checked) + label::after
		display: none

	&[type='submit']
		display: none
	
form#edit_form
	height: 0
	width: 0
	
	& input
		visibility: hidden

.btn-container__portfolio
	border-bottom: 1px solid #999
	padding: 6px 0 6px 6px

	button
		font-size: 1.2rem
		margin-right: 22px
		margin-left: 5px
		border: 0
		background-color: #fff
		padding: 0

		&:focus
			outline: none

		&:hover
			color: #666
			cursor: pointer

.btn-submit__portfolio
	display: block
	width: 180px
	height: 40px
	background-color: #666
	border-radius: 2px
	color: #fff
	font-size: 1.2rem
	line-height: 40px
	box-shadow: $shadow
	margin: 10px auto
	text-align: center
	cursor: pointer
	border: none

	&:hover
		box-shadow: $shadow_on_hover

.btn-cancel__portfolio
	display: block
	width: 180px
	height: 40px
	background-color: #fff
	border-radius: 2px
	color: $font_grey
	font-size: 1.2rem
	line-height: 40px
	box-shadow: $shadow
	margin: 10px auto
	text-align: center
	cursor: pointer
	border: none
	

	&:hover
		box-shadow: $shadow_on_hover

.btn-submit-container__portfolio
	padding: 0 20px
	box-sizing: border-box
	background-color: #fff
	width: calc(100% - 40px)
	position: absolute
	bottom: 0

.btn-fullscreen__portfolio
    margin: -50px 0 10px 0
    float: right
    width: 50px
    height: 40px
    background-image: url(assets/fullscreen.png)
    background-size: contain
    background-repeat: no-repeat
    opacity: 0.65
    position: fixed
    z-index: 100
    right: 40px


.CodeMirror
	height: auto
	position: absolute
	/*40px for submit button at the bottom of the page */
	bottom: 60px
	top: 100px
	width: calc(100% - 40px)


	&.CodeMirror-fullscreen
		width: 100% 
		top: 0 !important
		bottom: 0

	












