extends partials/_layout.jade
include mixins/_nav-chain.jade




block content
	section.content__portfolio.round
		+nav-chain(url)
		form(method='post', action='/local', name='crud_form')
		div.btn-container__portfolio
			button(class='button button__add' value='add').
				add
			button(class='button button__delete' value='delete').
				delete
		div(class='item_container')
			-	for(var i = 0; i < categories.length; i++){
				-	var data_name = decodeURIComponent(categories[i].url.split('/')[categories[i].url.split('/').length-1]);
				-	var url_for_delete = decodeURIComponent(categories[i].url);
					div(class='item_wrap')
						input(type='checkbox', class='input__portfolio check_for_delete', id="cat_" + categories[i].url, value=url_for_delete)
						label(for="cat_" + categories[i].url, id="label_cat_" + categories[i].url)
						a(href= '/' + categories[i].url, class='cats') #{categories[i].title}
						span.edit_container.edit(data-edit=categories[i].url, data-type='dir', data-name=data_name)

			-	}	
			-	for(var i = 0; i < publications.length; i++){
				-	data_name = decodeURIComponent(publications[i].url.split('/')[publications[i].url.split('/').length-1]);
				-	url_for_delete = decodeURIComponent(publications[i].url);
					div(class='item_wrap')
							input(type='checkbox', class='input__portfolio check_for_delete', id="pub_" + publications[i].url, value=url_for_delete)
							label(for="pub_" + publications[i].url, id="label_pub_" + publications[i].url)
							a(href= '/' + publications[i].url class='pubs') #{publications[i].title}
							span.edit_container.edit(data-edit=publications[i].url, data-type='doc', data-name=data_name, data-title=publications[i].title)
			-	}
block modals
	include partials/modals/_add
	include partials/modals/_edit
	include partials/modals/_delete
	include partials/modals/_note





block scripts
	script(data-main="/admin_list", src='/lib/require.js')


