extends partials/_layout.jade
include mixins/_nav-chain.jade




block content
	section.content__portfolio
		+nav-chain(url)
		form(method='POST', action='#', id='edit_form')
			input(type='textarea', class='input__portfolio block_editor')
		div(class='btn-submit-container__portfolio')
			a(class='btn-submit__portfolio' id='editor-submit').
				Submit
			div(class='btn-fullscreen__portfolio' id='btn-fullscreen')

block modals
	include partials/modals/_note

block scripts
	script(id='data-container', data-content=content, data-title=title)
	script(data-main="/admin_item", src='/lib/require.js')




