extends partials/_layout.jade
include mixins/_nav-chain.jade


block content
	section.content__portfolio.full-height
		+nav-chain(url)
		article.article__portfolio
			h1.pub-title.
				#{title}
		div.content-background__portfolio.
			!{content} 

block modals
	include partials/modals/_note
	include partials/modals/_login

block scripts
	script(data-main="/item", src="/lib/require.js")