extends partials/_layout.jade
include mixins/_nav-chain.jade




block content
	section.content__portfolio.round
		+nav-chain(url)
		div(class='item_container')
			-	for(var i = 0; i < categories.length; i++){
					div(class='item_wrap')
						a(href= '/' + categories[i].url class='cats').
							#{categories[i].title}

			-	}
			-	for(var i = 0; i < publications.length; i++){
					div(class='item_wrap')
						a(href= '/' + publications[i].url class='pubs').
							#{publications[i].title}
			-	}

block modals
	include partials/modals/_note
	include partials/modals/_login


block scripts
	script(data-main="/list", src='/lib/require.js')