div(class='modal-add__portfolio')
	div.modal-add__header.
		Add
	div.modal__close
	div.modal__field
		input(class='input__portfolio modal-add__type' id='type1' checked type='radio' name='add-type' value='doc')
		label(for='type1' class='modal__radio-label')
		p(class='modal-add__label-error')
		span.modal-add__text.inline.padding
			p.
				document

	div.modal__field
		input(class='input__portfolio modal-add__type' id='type2' type='radio' name='add-type' value='dir')
		label(for='type2' class='modal__radio-label')
		p(class='modal-add__label-error')
		span.modal-add__text.inline.padding
			p.
				directory

	div.modal__border

	div.modal__field
		span.modal-add__text.no_padding
			p.
				name:
		span.modal-add__text.input
			input(class='input__portfolio modal-add__name' id='name_add' type='text' name='name' value='')
			p(class='modal-add__label-error')


	div.modal__field
		span.modal-add__text.no_padding
			p.
				title:
		span.modal-add__text.input
			input(class='input__portfolio modal-add__title' id='title_add' type='text' name='title' value='')
			p(class='modal-add__label-error')


	div.modal__button-block
		button(class='modal-add__submit btn-submit__portfolio').
			Add
		button(class='modal__cancel btn-cancel__portfolio').
			Cancel