div(class='modal-delete__portfolio')
	div.modal-delete__header.
		Delete
	div.modal__close
	div.modal__field
		span.modal-delete__text.inline.padding
				p.
					Are you sure you want to delete selected items?

	div.modal__button-block
		button(class='modal-delete__submit btn-submit__portfolio').
			Ok
		button(class='modal__cancel btn-cancel__portfolio').
			Cancel