div(class='modal-edit__portfolio')
	div.modal-edit__header.
		Edit

	div.modal__close
	div.modal__field
		input(class='input__portfolio modal-edit__type' id='type4' checked type='radio' name='edit-type' value='doc')
		label(for='type4' class='modal__radio-label')
		p(class='modal-edit__label-error')
		span.modal-edit__text.inline.padding
			p.
				document

	div.modal__field
		input(class='input__portfolio modal-edit__type' id='type5' type='radio' name='edit-type' value='dir')
		label(for='type5' class='modal__radio-label')
		p(class='modal-edit__label-error')
		span.modal-edit__text.inline.padding
			p.
				directory

	div.modal__border

	div.modal__field
		span.modal-edit__text.no_padding
			p.
				name:
		span.modal-edit__text.input
			input(class='input__portfolio modal-edit__name' id='name_edit' type='text' name='name' value='')
			p(class='modal-edit__label-error')


	div.modal__field
		span.modal-edit__text.no_padding
			p.
				title:
		span.modal-edit__text.input
			input(class='input__portfolio modal-edit__title' id='title_edit' type='text' name='title' value='')
			p(class='modal-edit__label-error')


	div.modal__button-block
		button(class='modal-edit__submit btn-submit__portfolio').
			Ok
		button(class='modal__cancel btn-cancel__portfolio').
			Cancel