div(class='modal-login__portfolio')
	div.modal-login__header.
		Login
	div.modal__close
	div.modal__border

	div.modal__field
		span.modal-login__text.no_padding
			p.
				username:
		span.modal-login__text.input
			input(class='input__portfolio modal-login__user' id='user_login' type='text' name='user' value='')
			p(class='modal-login__label-error')


	div.modal__field
		span.modal-login__text.no_padding
			p.
				password:
		span.modal-login__text.input
			input(class='input__portfolio modal-login__password' id='password_login' type='text' name='password' value='')
			p(class='modal-login__label-error')



	div.modal__button-block
		button(class='modal-login__submit btn-submit__portfolio').
			Submit
