mixin nav-chain(url)
	nav.nav-chain.mCustomScrollbar(data-mcs-theme='minimal-dark')
		ul
			-	var breadcrumbs = url.split('/');
			-	breadcrumbs = breadcrumbs.map(function(a){
			-		return decodeURIComponent(a);	
			-	});
			-	console.log('\r\n', breadcrumbs);
			-	var concated = '/';
			- 	for (var i = 0; i < breadcrumbs.length; i++) {
				-	concated += breadcrumbs[i];
				-	if(i + 1 === breadcrumbs.length){
						li
						-	breadcrumbs[i] = breadcrumbs[i].replace(/[-_]/g, ' ');
							p(class='current_url').
								#{breadcrumbs[i]}
				-	}else{
						li
							a(href=concated, class='prev_url').
								#{breadcrumbs[i]}

				-	}

				-	concated += '/';
			-	}